.login {
	-fx-background-color: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
}

.login-titulo {
	-fx-font-size: 24px;
	-fx-text-fill: #FFF;
}

.login-form-label {
	-fx-font-size: 16px;
	-fx-text-fill: #FFF;
}

.login-botao {
	-fx-font-size: 16px;
}